{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="createshedule/" method="POST">
            {% csrf_token %}
            <input type="date" name="datastart" required>
            <input type="date" name="dataend" required>
            <button type="submit">Create Shedule</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}